

<body style="background: var(--Primary-gradient, linear-gradient(174deg, #12CDF3 -8.03%, #79DFEC 106.65%));">
   <div class="container d-flex justify-content-center ">


        <div class="card col-lg-6 col-md-8 col-12"  style=" border-radius:16px">

            <div class="media position-relative d-flex  mt-1 align-items-end flex-column" >
                <img src="/Image/vector.png" class=" position-absolute  " style="width:39%; aspect-ratio:1" />
            </div>

            <div class="container d-flex justify-content-center mt-5">


                <div class="rounded-circle shadow p-3 m-5 bg-white rounded  mt-5 p-3">
                    <div class="d-flex justify-content-center ">
                        <img src="/Image/yellow-tick.svg" class="d-flex justify-content-center p-3" alt="Done">
                </div> 
               
                 </div>
                
            </div>
            <h3 class="text-center " style="font-size:32px">Congratulations!</h3>
            <div class="d-flex justify-content-center col-lg-12" style:"max-width:100%" >
                 <p class="text-center text-muted mt-2  col-md-10 col-lg-10 col-11" style=" font-size:20px; max-width:346px">Your iBricks  <span class="text-warning" style="font-weight:500 ">PREMIUM</span> subscription  is active now! </p>
                </div>
           


            <div class="container  justify-content-center col-lg-4 col-md-4 col-5 pt-1 pb-1 mt-4" style="border:1px solid #39ADBC; background:var(--Accent, #F3FBFB); border-radius:8px">
                <div class="text-center">
                    <div>Valid Till</div>
                    <div style="font-size:16px; color:#39ADBC; font-weight:500" >8 JAN 2024</div>
                </div>
               
            </div>

            <div class="container d-flex justify-content-center mt-5 mb-5">
                <button type="button" class="btn col-lg-6   mt-4 text-white col-md-5 col-5  " style="background-color: #39ADBC; font-weight:600;border-radius:8px">Explore Premium Features</button>
            </div>

    </div>

    </div>
</body>