@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
} 

<style>
    #bg-color{
        background: linear-gradient(180deg, #FBF4DF 0%, #FFF 107.64%);
    }
   #gap{
       gap:7px;
      
   }
</style>

<div class="container position-relative d-flex justify-content-center mt-sm-5 mt-5">
    <div class="position-absolute  rounded-circle border border-warning bg-light p-2 d-flex justify-content-center" style="top:-17px">
        <img src="/Image/crown.svg" class="col-md-10 ml-5 pl-2 col-sm-10 col-10  img-fluid " style="background: linear-gradient(180deg, #FBF4DF 0%, #FFF 107.64%);" alt="Done">
    </div>
    <div class=" border border-warning rounded-3 col-lg-9 col-md-12 col-sm-12 col-12 pt-4 pb-3 mb-4 " id="bg-color">
      



        <div class="text-center mt-3">
            <div style="font-size:18px; font-weight:600">Premium Member</div>
            <div class="text-center text-bold" style="font-size:14px;font-weight:600">valid Till 8 JAN 2024</div>
            <div class="text-center " style="color:lightslategrey; font-size:14px" >Experience effortsless project management</div>
        </div>
    </div>
</div>
        <div style="font-size:14px; font-weight:700; letter-spacing:1.6px" class="text-center ">YOUR BENEFITS</div>


<div class="container d-flex justify-content-center mt-3">
    <div class=" media col-lg-9 rounded-3 p-3" style="border:2px solid lightblue">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12"  >
                <div class="media d-flex justify-content-start mt-0 m-3 mb-0 col-12" id="gap">
                    <div class="sticky-xl-top mt-3 " >
                        <img src="/Image/tick-circle.svg" class="col-sm-0 mb-lg-4 " alt="Done">
                    </div>                   
                    <div class="media-body p-2  pb-0 mt-2 mb-sm-0 ">
                        <h6 style="font-size:16px" class="">Create unlimited Projects</h6>
                        <p style="font-size:14px; color:lightslategrey;"> Exprience seamless billing effortsless project management</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="media d-flex justify-content-start mt-0 m-3 mb-0 col-12" id="gap">
                    <div class="sticky-xl-top mt-3 ">
                        <img src="/Image/tick-circle.svg" class="col-sm-0 mb-lg-4 " alt="Done">
                    </div>
                    <div class="media-body p-2  pb-0 mt-2 mb-sm-0 ">
                        <h6 style="font-size:16px" class="">Create unlimited Projects</h6>
                        <p style="font-size:14px; color:lightslategrey;"> Exprience seamless billing effortsless project management</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="media d-flex justify-content-start mt-0 m-3 mb-0 col-12" id="gap">
                    <div class="sticky-xl-top mt-3 ">
                        <img src="/Image/tick-circle.svg" class="col-sm-0 mb-lg-4 " alt="Done">
                    </div>
                    <div class="media-body p-2  pb-0 mt-2 mb-sm-0 ">
                        <h6 style="font-size:16px" class="">Create unlimited Projects</h6>
                        <p style="font-size:14px; color:lightslategrey;"> Exprience seamless billing effortsless project management</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="media d-flex justify-content-start mt-0 m-3 mb-0 col-12" id="gap">
                    <div class="sticky-xl-top mt-3 ">
                        <img src="/Image/tick-circle.svg" class="col-sm-0 mb-lg-4 " alt="Done">
                    </div>
                    <div class="media-body p-2  pb-0 mt-2 mb-sm-0 ">
                        <h6 style="font-size:16px" class="">Create unlimited Projects</h6>
                        <p style="font-size:14px; color:lightslategrey;"> Exprience seamless billing effortsless project management</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="media d-flex justify-content-start mt-0 m-3 mb-0 col-12" id="gap">
                    <div class="sticky-xl-top mt-3 ">
                        <img src="/Image/tick-circle.svg" class="col-sm-0 mb-lg-4 " alt="Done">
                    </div>
                    <div class="media-body p-2  pb-0 mt-2 mb-sm-0 ">
                        <h6 style="font-size:16px" class="">Create unlimited Projects</h6>
                        <p style="font-size:14px; color:lightslategrey;"> Exprience seamless billing effortsless project management</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="media d-flex justify-content-start mt-0 m-3 mb-0 col-12" id="gap">
                    <div class="sticky-xl-top mt-3 ">
                        <img src="/Image/tick-circle.svg" class="col-sm-0 mb-lg-4 " alt="Done">
                    </div>
                    <div class="media-body p-2  pb-0 mt-2 mb-sm-0 ">
                        <h6 style="font-size:16px" class="">Create unlimited Projects</h6>
                        <p style="font-size:14px; color:lightslategrey;"> Exprience seamless billing effortsless project management</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="media d-flex justify-content-start mt-0 m-3 mb-0 col-12" id="gap">
                    <div class="sticky-xl-top mt-3 ">
                        <img src="/Image/tick-circle.svg" class="col-sm-0 mb-lg-4 " alt="Done">
                    </div>
                    <div class="media-body p-2  pb-0 mt-2 mb-sm-0 ">
                        <h6 style="font-size:16px" class="">Create unlimited Projects</h6>
                        <p style="font-size:14px; color:lightslategrey;"> Exprience seamless billing effortsless project management</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="media d-flex justify-content-start mt-0 m-3 mb-0 col-12" id="gap">
                    <div class="sticky-xl-top mt-3 ">
                        <img src="/Image/tick-circle.svg" class="col-sm-0 mb-lg-4 " alt="Done">
                    </div>
                    <div class="media-body p-2  pb-0 mt-2 mb-sm-0 ">
                        <h6 style="font-size:16px" class="">Create unlimited Projects</h6>
                        <p style="font-size:14px; color:lightslategrey;"> Exprience seamless billing effortsless project management</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="media d-flex justify-content-start mt-0 m-3 mb-0 col-12" id="gap">
                    <div class="sticky-xl-top mt-3 ">
                        <img src="/Image/tick-circle.svg" class="col-sm-0 mb-lg-4 " alt="Done">
                    </div>
                    <div class="media-body p-2  pb-0 mt-2 mb-sm-0 ">
                        <h6 style="font-size:16px" class="">Create unlimited Projects</h6>
                        <p style="font-size:14px; color:lightslategrey;"> Exprience seamless billing effortsless project management</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="media d-flex justify-content-start mt-0 m-3 mb-0 col-12" id="gap">
                    <div class="sticky-xl-top mt-3 ">
                        <img src="/Image/tick-circle.svg" class="col-sm-0 mb-lg-4 " alt="Done">
                    </div>
                    <div class="media-body p-2  pb-0 mt-2 mb-sm-0 ">
                        <h6 style="font-size:16px" class="">Create unlimited Projects</h6>
                        <p style="font-size:14px; color:lightslategrey;"> Exprience seamless billing effortsless project management</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
   
   </div>
<div class="container d-flex justify-content-center">
    <button type="button" class="btn col-lg-9  mt-4 text-white col-12  " style="background-color: #39ADBC; font-weight:600">Need help?</button>
    </div>



